<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>de.kuehnel.concertjournal</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>concertjournal</string>
				<string>concertjournal://buddy/</string>
			</array>
		</dict>
	</array>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-7897142018085073~3599198457</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>PlayfairDisplay-Regular.otf</string>
		<string>PlayfairDisplay-Bold.otf</string>
		<string>Manrope-Bold.otf</string>
		<string>Manrope-Light.otf</string>
		<string>Manrope-Medium.otf</string>
		<string>Manrope-Regular.otf</string>
		<string>Manrope-SemiBold.otf</string>
	</array>
</dict>
</plist>
